@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-out;
}

@layer components {
  .container-box {
    @apply w-full md:w-[calc(100%-7vw)] max-w-[1440px] mx-auto
  }

  .container-box2 {
    @apply w-full md:w-[calc(100%-7vw)] xl:px-[7.875rem] max-w-[1440px] mx-auto
  }

  /* 110px */
  .heading-1 {
    @apply text-[6.875rem] leading-[120%]
  }

  /* 68px */
  .heading-2 {
    @apply text-[4.25rem] leading-[120%]
  }

  /* 42px */
  .heading-3 {
    @apply text-[2.625rem] leading-[120%]
  }

  /* 26px */
  .heading-4 {
    @apply text-[1.625rem] leading-[120%]
  }
}